/*box sizing*/
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

/*font sizing*/
html {
	font-family: "raleway",Helvetica,Arial,sans-serif;
	font-size: 20px;

	@media (max-width: 960px) {
		font-size: 16px;
	}
	@media (max-width: 750px) {
		font-size: 12px;
	}
}

/*grid*/
body {
	display: flex;
	flex-flow: column;
	align-items: center;
	min-height: 100vh;
}

.container{
	width: 95vw;
}

@media (min-width: 961px) {
	.container{
		width: 960px;
	}
}

/*typography*/
h1 {
	font: 700 3em/1.5 "Arvo";
}
h2 {
	font: 400 1.5em/1.5 "Arvo";
}
small {
	font: 400 .5em/1.5 "Arvo";
}

.material-icons {
	vertical-align: bottom;
}

/*banner*/
.banner{
	background: #fff;
	margin: 20px 0;
}
h1{
	color: #000;
}
h2{
	color: #250931;
}

/*nav*/
.main-nav{
	background: #230931;
	width: 100vw;
	display: flex;
	flex-flow: column;
	align-items: center;
}
.main-nav ul{
	display: flex;
}
.main-nav li{
	padding: 15px;
}
.main-nav li,
.main-nav a{
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}
.main-nav a:hover li{
	color: #230931;
	background: #fff;
}
@media (max-width: 750px) {
	.main-nav ul{
		flex-flow: column;
		justify-content: center;
	}
}
.nav-row2{
	background: #402051;
}
.nav-row2 .current-version{
	background: #230931;
}

/*main*/
main{
	margin: 10px 0;
	flex-grow: 1;
}

/*footer*/
.page-footer{
	display: flex;
	flex-flow: column;
	align-items: center;
	width: 100vw;
}
.foot-nav {
	display: flex;
	justify-content: center;
	width: 100%;
	background: #5d3d6e;
}
.foot-nav li {
	display: inline-block;
	padding: 10px;
	color: #fff;
	font: 400 .7em/1.5 "Arvo";
}
.foot-nav a:hover li{
	background: #fff;
	color: #230931;
}
.foot-nav ul{
	display: flex;
	justify-content: flex-end;
}
