body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  flex-grow: 1
}

#banner {
  background-image: url(../img/banner.jpg);
  background-color: rgba(150,150,150,.4);
  background-size: cover;
  min-height: 40vw;
  background-blend-mode: lighten;
}

h1,
h2,
h4 {
  font-family: "Roboto slab", sans-serif;
}

h6 {
  text-transform: uppercase;
}
